<h4><%= message %></h4>
    <% } %>
    <form action="/registration" method="POST">
        <input name="username" placeholder="username">
        <input name="email" placeholder="email">
        <input name="password" type="password" placeholder="password">
        <button type="submit">sign up</button>
    </form>
    <a href="/">sign in</a>